<%- include("../views/shared/_header.ejs") -%>
<div>
    <br/>
    <h3>Add Customers</h3>
    <hr/>
    <div style="width: 400px;">
       
        <%- include("../views/shared/_edit.ejs") -%>
    </div>
    
</div>

<%- include("../views/shared/_footer.ejs") -%>