<%- include("../views/shared/_header.ejs") -%>
<script src="js/addCustomer.js"></script>
<script src="js/common.js"></script>
<div>
    <br/>
    <h3>Add Customers</h3>
    <hr/>
    <div style="width: 400px;">     
        <%- include("../views/shared/_edit.ejs") -%>
    </div>
    <hr/>
    <label style="color: red; margin-left: 50px !important; font-size: 12px; font-weight: bold;" class="required"> Required Fields</label>&nbsp;&nbsp;
    <button id="btnReset" type="button" onclick="resetAddNew()" class="btn btn-secondary btn-sm">Reset</button>
    <button id="btnSave" type="button" onclick="validate()" class="btn btn-primary btn-sm">Save changes</button>
</div>

<%- include("../views/shared/_footer.ejs") -%>