 
<%- include("../views/shared/_header.ejs") -%>
<script src="js/importFile.js"></script>
<script src="js/getTotal.js"></script>

<form >
<div>
    <br/>
    <h3>Import Customer List</h3>
    <hr/>
    <div>     
        <div class="row">
            <div class="col-6 mt-1">
                <label id="lblTotal"></label>
                <label>Select a file with customers for database insert.</label>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-3">
                <input type="file" name="filename" required><p></p>
            </div>
            <div class="col-6 mt-1">
                <button type="submit" class="btn btn-primary btn-sm">Import Customer File</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                 <h3 id="summary"> Import Summary</h3>
                <label id="result"></label>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    // Typically, if the script is large, we place it in a separate file
    //   For demonstrations, it is included in the same file.
    // Handle form submission
    document.querySelector("form").addEventListener("submit", e => {
      // Cancel default behavior of sending a synchronous POST request
      e.preventDefault();
      // Create a FormData object, passing the form as a parameter
      const formData = new FormData(e.target);
      // Send form data to the server with an asynchronous POST request
      fetch("/ImportFile", {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
            const resultElement = document.getElementById("result");
            document.getElementById("summary").hidden = false;
            if (data.substring(0,5) === "Error") {
                resultElement.innerText = `Error occurred!  ${data}`
            } else {
                resultElement.innerText = data;
            };
        })
        .catch(err => {
            document.getElementById("message").textContent = `Error: ${err.message}`;
        });
    });
    </script>
<%- include("../views/shared/_footer.ejs") -%>