<%- include("../views/shared/_header.ejs") -%>
<div class="jumbotron">
    <h1 class="display-5">Welcome to David Yu's Project!</h1>
    <p class="lead">This Customer List web application is used to add, update and delete customers from the customer list.  </p>
    <hr class="my-4">
    <p>Please click on a menu option to get started!.</p>
    <p class="lead">
      <a id="" class="btn btn-primary btn-sm" href="#" role="button">Learn more..</a>
    </p>
  </div>
<%- include("../views/shared/_footer.ejs") -%>


